<section id="edit" class="wrapper style1">
  <div class="inner">
    <h2>Editing user : <%= @user.name %></h2>

    <%= form_for @user, url: user_path(@user), method: :patch do |f| %>
    <div class="row uniform 75%">
      <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <hr>
      <% end %>
      <div class="12u$">
        <%= f.file_field :avatar, as: :file %>
      </div>
      <div class="12u$">
        <%= f.text_field :name, placeholder: "bobmarlye1945" %>
      </div>
      <div class="6u 12u$(xsmall)">
        <%= f.text_field :firstname, placeholder: "Bob" %>
      </div>
      <div class="6u$ 12u$(xsmall)">
        <%= f.text_field :lastname, placeholder: "Marlye" %>
      </div>
      <div class="12u$">
        <%= f.email_field :email, placeholder: "is@this.love" %>
      </div>

      <div class="6u 12u$(xsmall)">
        <%= f.password_field :password, placeholder: "Password" %>
      </div>

      <div class="6u$ 12u$(xsmall)">
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
      </div>
      <div class="12u$">
         <%= f.check_box :admin %>
         <%= f.label :admin %>
      </div>
    </div>
    <ul class="actions">
      <li>
        <%= f.submit "Submit", class: "button special" %>
      </li>
      <li>
        <%= link_to 'Destroy', @user,  method: :delete, data: { confirm: 'Are you sure?' }, class: "button default" %>
      </li>
    </ul>
    <% end %>

    <%= render "back" %>
  </div>
</section>
