<% provide(:title, 'Sign up') %>

<section id="new" class="wrapper style1">
  <div class="inner">
    <h2>New User</h2>
    <%= render 'error_messages' %>
    <%= form_for @user do |f| %>
    <hr>
    <div class="row uniform 75%">
      <div class="12u$">
        <%= f.file_field  :avatar, as: :file %>
      </div>
      <div class="12u$">
        <%= f.text_field :name, placeholder: "bobmarlye1945" %>
      </div>
      <div class="6u 12u$(xsmall)">
        <%= f.text_field :firstname, placeholder: "Bob" %>
      </div>
      <div class="6u$ 12u$(xsmall)">
        <%= f.text_field :lastname, placeholder: "Marlye" %>
      </div>
      <div class="12u$ ">
        <%= f.email_field :email, placeholder: "is@this.love" %>
      </div>

      <div class="6u 12u$(xsmall)">
        <%= f.password_field :password, placeholder: "Password" %>
      </div>

      <div class="6u$ 12u$(xsmall)">
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
      </div>
    </div>
    <ul class="actions">
      <li>
        <%= f.submit "Join the horde", class: "button special" %>
      </li>
    </ul>
    <% end %>
  </div>
</section>
