<section id="article" class="wrapper style1">
   <div class="inner">
      <header class="major special">
         <h6 style="text-align:left;"><i>User since <%= @user.created_at %></i></h6>
      </header>
      <% if logged_in? && @current_user.id === @user.id %>
      <hr/>
      <%= link_to 'Edit', edit_user_path, class: "button alt" %>
      <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "button default" %>
      <% end %>
      <% if @user_posts.any? %>
      <hr/>
      <h4><%= @user.name %>'s Posts</h4>
      <% @user_posts.each_with_index do |post, index| %>
      <%= render "preview_post", post: post, index: index %>
      <% end %>
      <% else %>
      <hr/>
      <h4><%= @user.name %> has no post yet</h4>
      <% end %>
      <%= render "back" %>
   </div>
</section>