<% if @post === nil %>
<section id="banner" style="background-image:url('<%= image_path 'banner.png' %>');">
  <i class="icon fa-book"></i>
</section>
<% else %>
<section id="banner" style="background-image:url('<%= @post.avatar.url %>')">
  <h2><%= @post.title %></h2>
  <span class="thumbnail">
    <%= image_tag @post.user.avatar.url(:thumb), class: "img-circle bordered size50" %>
    <h1><%= link_to @post.user.name, @post.user %></h1>
  </span>
  <h5> on
    <%= @post.created_at.strftime("%B #{@post.created_at.day.ordinalize}, %Y") %>
  </h5>
</section>
<% end %>
