<!-- header -->
<header id="header" class="skel-layers-fixed">
   <h1><a href="/"><i class="icon fa-anchor"></i></a></h1>
   <label id="menu_icon" for="menu_checkbox"><i class="icon fa-bars"></i></label>
   <input type="checkbox" id="menu_checkbox" style="display:none;" role="button" />
   <ul id="menu_content">
      <% if logged_in? %>
      <li>
         <h1>Logged in as : <%= link_to @current_user.name, @current_user %>
         <%= link_to "Log out", logout_path, method: :delete, class: "button special small" %></h1>
      </li>
      <% end %>
      <li><%= link_to "Qui sommes nous ?", {:controller => "static", :action => "aboutus", :anchor => "us"}, class:"dropdown-item" %></li>
      <li><%= link_to "Événements", {:controller => "static", :action => "events", :anchor => "calendar"}, class:"dropdown-item" %></li>
      <li><%= link_to "Blog", posts_path, class:"dropdown-item" %></li>
      <li><%= link_to "Galeries", galleries_path, class:"dropdown-item" %></li>
      <li><%= link_to "TV", {:controller => "static", :action => "tv", :anchor => "tv"}, class:"dropdown-item" %></li>
      <li>
         <%= form_tag posts_path, style:"margin:10px;", method: :get do %>
         <%= text_field_tag :search, params[:search], placeholder:"Rechercher", style:"height:inherit;"%>
         <% end %>
      </li>
   </ul>
</header>