<article class="feature left justify">
  <span class="image">
    <%= image_tag post.avatar.url %>
  </span>
  <div class="content">
    <span class="thumbnail thumbnail-over-image">
      <%= image_tag post.user.avatar.url(:thumb), class: "img-circle bordered size50" %>
      <h1><%= link_to post.user.name, post.user %></h1>
    </span>
    <h6 class="thumbnail-title"> on
      <%= post.created_at.strftime("%B #{post.created_at.day.ordinalize}, %Y") %>
    </h6>
    <hr/>
    <h2><%= post.title %></h2>
    <%= markdown post.text.first(500) %>
    <ul class="actions">
      <li>
        <%= link_to 'More', post, class: "button alt" %>
      </li>
    </ul>
  </div>
</article>
